<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Cod'Flix{% endblock %}</title>

        <link href="{{ asset('assets/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/lib/font-awesome/css/all.min.css') }}" rel="stylesheet" />

        <link href="{{ asset('assets/css/partials/partials.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/css/layout/layout.css') }}" rel="stylesheet" />

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        <script src=" {{ asset('assets/lib/jquery/js/jquery-3.5.0.min.js') }} "></script>
        <script src=" {{ asset('assets/lib/bootstrap/js/bootstrap.min.js') }} "></script>

        <script src="{{ asset('assets/js/script.js') }}"></script>
        {% block javascripts %}{% endblock %}

    </body>
</html>
